<%= turbo_frame_tag @comment do %>
  <p><%= @comment.content %></p>

  <div>
    <%= link_to "Edit", edit_comment_path(@comment, article_id: @article.id) %> |
    <%= link_to "Destroy", @comment, date: {turbo_method: :delete} %>
  </div class="mb-3">
<% end %>